* {
  background-color: black;
  color: white;
}

/* DETAILS BOX */

.container {
  display: flex;
  justify-content: center;
}

.details-box {
  background-color: rgb(41, 16, 10);
  border-radius: 6px;
  width: 50%;
  height: 30vh;
  padding: 12px 16px;
}

.details-info-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details-title-box {
  margin-top: 12px;
  margin-bottom: 8px;
}

.details-title-box h3 {
  color: rgb(138, 138, 138);
  text-align: center;
  font-weight: 800;
}

.details-box * {
  background-color: rgb(41, 16, 10);
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
}

.profile-info-box {
  display: flex;
}

/* NOT FOUND */
.not-found-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
